### A - Créer un programme pandas Python qui traite les données du tableau suivant à l'aide d'un DataFrame et les affiches sous forme d'un tableau à l'écran:

In [276]:
import pandas as pd
import numpy as np


data = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Albert', 'Nathalie', 'Robert', 'Jesika', 'Adam'],
    'Email': ['albert@gmail.com', 'nathalie@gmail.com', 'robert@gmail.com', 'jesika@gmail.com', 'adam@gmail.com'],
    'Section': ['SVT', 'SC Eco', 'Math', 'Philo', 'Physique']
}


df = pd.DataFrame(data)


print(df.to_string(index=False))

 ID     Name              Email  Section
  1   Albert   albert@gmail.com      SVT
  2 Nathalie nathalie@gmail.com   SC Eco
  3   Robert   robert@gmail.com     Math
  4   Jesika   jesika@gmail.com    Philo
  5     Adam     adam@gmail.com Physique

### B - Créer un programme basé sur la bibliothèque pandas python qui permet de convertir la série: 
1 data = pandas.Series(['P', 'y', 't', 'h', 'o' , 'n'])
en la chaine de caractères formée par les éléments de la série. Le programme doit renvoyer la
chaine s = "Python".

In [277]:
dataB = pd.Series(['P', 'y', 't', 'h', 'o' , 'n'])

s = "".join(dataB)

print(s)

Python

### B - Ecrire un algorithme basé sur la bibliothèque pandas python qui permet de supprimer un élément de la série:
1 pandas.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
. Supprimer le dernier élément à titre d'exemple.

In [278]:
pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])


drop_last = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
drop_last = drop_last.drop(drop_last.index[-1])

print(drop_last)

0     Python
1     Djnago
2    Tkinter
3       PyQt
dtype: object

### D - Reprendre Question précédent (Q3) en créant cette fois-ci un programme basé sur la bibliothèque pandas python qui supprime les éléments d'index pair de la série.

In [279]:
pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])

drop_even = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
drop_even = drop_even.drop(drop_even.index[::2])

print(drop_even)

1    Djnago
3      PyQt
dtype: object

### E - Créer un programme basé sur la bibliothèque pandas python qui renvoie une série pandas à partir de la liste python: L = ['python' , 'Java' , 'PHP', 'Javascript' , 'C++']. sans utiliser la bibliothèque numpy!

In [280]:
L = ['python' , 'Java' , 'PHP', 'Javascript' , 'C++']

series = pd.Series(L)

print(series)

0        python
1          Java
2           PHP
3    Javascript
4           C++
dtype: object

### F - Modifier le programme suivant afin de supprimer la colonne 'Section' et la remplacer par la colonne: Age = [ 22 , 23 , 21 , 20 , 25 ] sans toucher à laliste data. les modification doivent être apportées uniquement au DataFrame df:

In [281]:

# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'],
['Albert' ,'albert@gmail.com' , 'SVT' ],
['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'],
['Roberto' ,'roberto@gmail.com' , 'Physique'],
['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
# création du DataFrame
df = pd.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])


Age = [ 22 , 23 , 21 , 20 , 25 ]
#remplacer la colonne 'Section' par la colonne Age=
df.drop(columns=['Section'], inplace=True)
df['Age'] = Age 

print(df)

        Name               Email  Age
11     Tomas     tomas@gmail.com   22
12    Albert    albert@gmail.com   23
13  Nathalie  nathalie@gmail.com   21
14   Roberto   roberto@gmail.com   20
15      Adam      adam@gmail.com   25

### G - A partir du programme suivant qui représente les données des étudiants dans un DataFrame:

In [282]:
#liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'],
['Albert' ,'albert@gmail.com' , 'SVT' ],
['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'],
['Roberto' ,'roberto@gmail.com' , 'Physique'],
['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
#création du DataFrame
df = pd.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])

#### Ecrire un programme qui récupère les emails des étudiants en une liste: list_emails    [ ...] sans toucher à la liste data des données. Les manipulations doivent être apportées uniquement au niveau du DataFrame df.

In [283]:
list_emails = df['Email'].tolist()
print(list_emails)

['tomas@gmail.com', 'albert@gmail.com', 'nathalie@gmail.com', 'roberto@gmail.com', 'adam@gmail.com']

### H -  Ecrire un programme python pandas qui permet de sélectionner et afficher uniquement les deux colonnes 'Nom' et 'Age':

In [284]:
dictData = {'ID' : [31, 71, 30 , 11 , 23] ,
'Nom': ['Julia', 'Tiago', 'Charlie' , 'Alba' , 'Isaac'],
'Age': [22, 21, 20, 20 , 23],
'Taille': [170, 190, 181 , 175 , 165]}
# création du dataframe
df = pd.DataFrame(dictData , index=[235 , 155 , 243 , 311 , 117])


s=df[['Nom' , 'Age']]

print(s)

         Nom  Age
235    Julia   22
155    Tiago   21
243  Charlie   20
311     Alba   20
117    Isaac   23

### I - Reprendre l'exercice précédent (Q.H) avec cette fois-ci un affichage trié selon l'âge décroissant.

In [285]:
s=df[['Nom' , 'Age']].sort_values(by='Age', ascending=False)
print(s)

         Nom  Age
117    Isaac   23
235    Julia   22
155    Tiago   21
243  Charlie   20
311     Alba   20

### J - Ecrire un programme basé sur la bibliothèque pandas python permettant de récupérer la liste des index de la série pandas suivante:

In [286]:
data = (['P', 'y', 't', 'h', 'o' , 'n'])
s = pd.Series(data , index=[12 , 7 , 13 , 22 , 11 , 2])

list = s.index.tolist()

print(list)

[12, 7, 13, 22, 11, 2]

### K - Ecrire un programme basé sur la bibliothèque pandas python qui permet de remplacer les valeurs négatives de la série suivante par des zéros:

In [287]:
data = pd.array ([43 , -25 , 79 , 37 , -22 , 34 ])
s = pd.Series(data)

Sans toucher à la liste data. Les manipulations doivent être faites uniquement sur la
série pandas s=ps.Series(data)

In [288]:
vaeur_abs = s.abs()

print(vaeur_abs)

0    43
1    25
2    79
3    37
4    22
5    34
dtype: Int64

### L - Reprendre Question précédent (Q. K) en utilisant cette fois-ci une liste d'index personnalisée:

In [289]:
data = np.array ([430 , -255 , 179 , 237 , -202 , 304 ] )
s = pd.Series(data , index= [11 , 21 , 17 , 13 , 27 , 14])

# Remplacer les valeurs négatives par 0
s[s < 0] = 0

print(s)

11    430
21      0
17    179
13    237
27      0
14    304
dtype: int64

### M - Ecrire un programme basé sur la bibliothèque python pandas qui permet de convertir la série pandas suivante en un dictionnaire python

In [290]:
s = pd.Series(["Louis" , "Maya" , "Yassmine" , "Rosa" , "Tomas"] ,
index= [17 , 21 , 19 , 13 , 27 ])

dict_s = s.to_dict()
print(dict_s)

{17: 'Louis', 21: 'Maya', 19: 'Yassmine', 13: 'Rosa', 27: 'Tomas'}

### N - Ecrire un programme basé sur la bibliothèque pandas python qui permet d'ajouter le nom 'Clara' à la série pandas suivante:

In [291]:
s = pd.Series(["Emma", "Alice", "Paul", "Tiago", "Julia"],
               index=[17, 21, 19, 13, 27])

s.loc[28] = "Clara"

sf = pd.concat([s ,pd.Series("othmane" , index=[29])])

# s = s.append(pd.Series("ferrah" , ignore_index=True)) 

print(s)
print(sf)

17     Emma
21    Alice
19     Paul
13    Tiago
27    Julia
28    Clara
dtype: object
17       Emma
21      Alice
19       Paul
13      Tiago
27      Julia
28      Clara
29    othmane
dtype: object

### O -  Ecrire un programme basé sur la bibliothèque pandas python afin d'extraire les termes d'index impairs de la série pandas suivante:

In [292]:
s = pd.Series(["Maria" , "Amelia" , "Bernard" , "Jules" , "Nathan" , "Enzo"] ,
index= [17 , 26 , 19 , 12 , 27 , 48 ])

f = s.iloc[::2]
print(s)
print("\n les termes d'index impairs sont: \n ")
print(f)

17      Maria
26     Amelia
19    Bernard
12      Jules
27     Nathan
48       Enzo
dtype: object

 les termes d'index impairs sont:

17      Maria
19    Bernard
27     Nathan
dtype: object

### P - Ecrire un algorithme qui permet de translater la liste des index de la série pandas suivante de +2:

In [293]:
serie = pd.Series(['a', 'b', 'c', 'd', 'e' , 'f'], 
index=[11 , 3 , 17 , 23 , 5 , 22])
serie.index = serie.index + 2
print(serie)

13    a
5     b
19    c
25    d
7     e
24    f
dtype: object

### Q -  Ecrire un algorithme basé sur la bibliothèque pandas python qui permet d'extraire l'élément d'index maximum de la série pandas suivante:

In [294]:
serie = pd.Series(['a', 'b', 'c', 'd', 'e' , 'f'] , 
    index=[10 , 11 , 23 , 17 , 14 , 15])

s = serie.max()
print(serie)
print("\n l'element d'index maximum est:",s)

10    a
11    b
23    c
17    d
14    e
15    f
dtype: object

 l'element d'index maximum est: f

### R - Reprendre question précédent (QQ), mais cette fois-ci sans utiliser la fonction max()

In [295]:
serie = pd.Series(['a', 'b', 'c', 'd', 'e' , 'f'] , 
    index=[10 , 11 , 23 , 17 , 14 , 15])

s = serie.sort_values(ascending=False).iloc[0]
print(serie)
print("\n l'element d'index maximum est:",s)

10    a
11    b
23    c
17    d
14    e
15    f
dtype: object

 l'element d'index maximum est: f

### S - Etant donné deux série pandas:

In [296]:
serie1 = pd.Series(['a', 'b', 'c', 'd', 'e' , 'f'] , index=[10 , 12 , 14 , 16 , 18 , 20])
serie2 = pd.Series(['x', 'y', 'z', 't', 'u' , 'v'] , index=[11 , 13 , 15 , 17 , 19 , 21])

Ecrire un programme basé sur la bibliothèque pandas python qui génère une nouvelle serie
pandas ayant même longueur et qui prends les élément de ces deux séries d'une
façon alternative. L'algorithme dois renvoyer la série:

In [297]:
serie3 = pd.concat([serie1 , serie2])
serie3 = pd.Series(serie3.sort_index())

print(serie3)

10    a
11    x
12    b
13    y
14    c
15    z
16    d
17    t
18    e
19    u
20    f
21    v
dtype: object

### T - Ecrire un algorithme basé sur la bibliothèque pandas python qui permet de convertir une série pandas à un dictionnaire sans utiliser la fonction dict().

In [298]:
s = pd.Series(['a', 'b', 'c', 'd', 'e' , 'f'] , index=[10 , 12 , 14 , 16 , 18 , 20])

# dict_s = s.to_dict()


for i in range(len(s)):
    dict_s[s.index[i]] = s.values[i]

print(dict_s)

{17: 'Louis', 21: 'Maya', 19: 'Yassmine', 13: 'Rosa', 27: 'Tomas', np.int64(10): 'a', np.int64(12): 'b', np.int64(14): 'c', np.int64(16): 'd', np.int64(18): 'e', np.int64(20): 'f'}

### U - Ecrire un programme pandas python qui permet de renvoyer la liste des valeurs d'une série pandas. Exemple pour la série:

In [299]:
serie = pd.Series(['a', 'b', 'c', 'd' , 'e' , 'f'] ,
index=[10 , 12 , 14 , 16 , 18 , 20])
#Le programme renvoie la liste: ['a', 'b', 'c', 'd' , 'e' , 'f']

s = pd.Series(['a', 'b', 'c', 'd' , 'e' , 'f'] ,
index=[10 , 12 , 14 , 16 , 18 , 20])


print(s.values.tolist())

['a', 'b', 'c', 'd', 'e', 'f']

### V - Reprendre Question précédent ( Q. U ) sans utiliser la méthode tolist() ni la fonction list()

In [300]:
serie = pd.Series(['a', 'b', 'c', 'd' , 'e' , 'f'] ,index=[10 , 12 , 14 , 16 , 18 , 20])
#Le programme renvoie la liste: ['a', 'b', 'c', 'd' , 'e' , 'f']

list = []
for i in range(len(s)):
    list.append(s.values[i])

print(list)

['a', 'b', 'c', 'd', 'e', 'f']

### W -  Ecrire un programme python sous forme d'une fonction nommer la swap() à titre d'exemple qui prends en paramètre une liste et qui permet d'échanger le premier élément avec le dernier élément de la liste.

In [301]:
def swap(list):
    list[0], list[-1] = list[-1], list[0]
    return list

#### En utilisant la première question, écrire un programme pandas Python qui permet d'échanger le premier élément avec le dernier élément de la série pandas suivante:

In [302]:
s = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin'] ,index=[10 , 12 , 14 , 16 ])

list_b = s.values.tolist()
list_b = swap(list_b)
print(list_b)

['Kotlin', 'Java', 'Javascript', 'Python']

### X - Ecrire un algorithme basé sur la bibliothèque pandas python qui demande à l'utilisateur de saisir 5 nombre entiers de son choix et de les ranger dans une série pandas.

In [303]:
print("Entrez 5 nombres entiers:")
numbers = []
for i in range(5):
    number = int(input(f"Nombre {i+1}: "))
    numbers.append(number)

s = pd.Series(numbers)
print(s)

Entrez 5 nombres entiers:
0    1
1    2
2    3
3    4
4    5
dtype: int64

### Y - Ecrire un programme pandas python qui permet de renvoyer la longueur d'une série pandas sans utiliser la méthode len().

In [304]:
s = pd.Series(['a', 'b', 'c', 'd' , 'e' , 'f'] ,index=[10 , 12 , 14 , 16 , 18 , 20])

count = 0

for i in range(len(s)):
    count += 1

print(count)

6

### Z - Ecrire un programme pandas python qui permet de renvoyer la somme des éléments d'une série pandas.

In [308]:
g = pd.Series([14 , 12 , 18 , 16 , 20])

sum = 0
for i in range(len(g)):
    sum += g.values[i]

print("somme: ", sum)

somme:  80

### AA - Ecrire un algorithme pandas python qui calcul la moyenne de la série pandas suivante et l'ajoute à la fin de la série:

In [310]:
moyenne = g.mean()

print("moyenne: ", moyenne)

moyenne:  16.0

### BB - Reprendre Question précédent ( Q. AA ), mais cette fois sans utiliser la méthode mean().

In [311]:
moyenne_f = sum / len(g)

print("moyenne: ", moyenne_f)

moyenne:  16.0

### CC - Ecrire un programme qui permet d'éliminer les valeurs dupliqués d'une série pandas.

In [314]:
m = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin' , 'Python'] ,index=[10 , 12 , 14 , 16 , 18])

n = m.drop_duplicates()

print(m)
print(n)

10        Python
12          Java
14    Javascript
16        Kotlin
18        Python
dtype: object
10        Python
12          Java
14    Javascript
16        Kotlin
dtype: object

### DD -  Ecrire un algorithme basé sur la bibliothèque pandas Python permettant de supprimer les éléments qui ne commencent pas par la lettre 'J' de la série pandas suivante:

In [318]:
f = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin' , 'JSP'] ,index=[10 , 12 , 14 , 16 , 18])

g = f[f.str.startswith('J')]

print(f)
print(g)

10        Python
12          Java
14    Javascript
16        Kotlin
18           JSP
dtype: object
12          Java
14    Javascript
18           JSP
dtype: object

### EE - Reprendre Question précédent ( Q. DD ) sans utiliser la méthode pandas.drop()

In [ ]:
f = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin' , 'JSP'] ,index=[10 , 12 , 14 , 16 , 18])


for i in range(len(f)):
    if f.values[i].startswith('J'):
        f = f.drop(f.index[i])

print(f)

### FF - Ecrire un algorithme pandas python sous forme de fonction qui prends en entrée deux séries pandas et qui renvoie True si les deux séries ont au moins un élément en commun et False si non.

In [323]:
serie1 = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin'] )
serie2 = pd.Series(['Django', 'Spring', 'ReactJS', 'Kotlin'] )
serie3 = pd.Series(['Django', 'Spring', 'ReactJS', 'VueJS'] )

def common_elements(serie1, serie2):
    for i in range(len(serie1)):
        for j in range(len(serie2)):
            if serie1[i] == serie2[j]:
                return True

    return False

print(common_elements(serie1, serie2))
print(common_elements(serie1, serie3))

True
False