#Exercice 1:

In [24]:
import math

In [25]:
temps = 7.992
distance = 17.8
vitesse = distance / temps
print(vitesse)

print(f"La vitesse est : {vitesse:.1f} m/s")

2.2272272272272273
La vitesse est : 2.2 m/s

#Exercice 2

In [26]:
saisie = float(input("Entrez un nombre : "))
if saisie >= 0:
    racine = math.sqrt(saisie)
    print(f"La racine de {saisie} est {racine:.3f}")
else:
    print("Erreur : Le nombre que vous avez saisi est négatif.")

mot1 = input("Entrez le premier mot : ")
mot2 = input("Entrew le deuxième mot : ")
if mot1 < mot2:
    print(f"Le mot '{mot1}' vient avant le mot '{mot2}' dans le dictionnaire.")
elif mot2 < mot1:
    print(f"Le mot '{mot2}' vient avant le mot '{mot1}' dans le dictionnaire.")
else:
    print("Les deux mots sont identiques.")

plus_petit_mot = mot1 if mot1 < mot2 else mot2
print(f"Avec l’instruction ternaire, le plus petit est : {plus_petit_mot}")

Entrez un nombre : 10
La racine de 10.0 est 3.162
Entrez le premier mot : sdia
Entrew le deuxième mot : msdia
Le mot 'msdia' vient avant le mot 'sdia' dans le dictionnaire.
Avec l’instruction ternaire, le plus petit est : msdia

#Exercice 3

In [27]:
pSeuil = 2.3
vSeuil = 7.41

pression = float(input("Saisir la pression courante : "))
volume = float(input("Saisir le volume courant : "))

if pression > pSeuil and volume > vSeuil:
    print("Arrêt immédiat")
elif pression > pSeuil:
    print("Augmenter le volume de l'enceinte.")
elif volume > vSeuil:
    print("Diminuer le volume de l'enceinte.")
else:
    print("Tout va bien.")

Saisir la pression courante : 1
Saisir le volume courant : 2
Tout va bien.

#Exercice 4

In [28]:
a = 0
b = 10
print(f"incrémentant la valeur de a tant qu’elle reste inférieure à celle de b")
while a < b:
    print(f"a = {a}")
    a += 1
print(f"Valeur finale : a = {a}, b = {b}")

b = 10
print(f"décrémentant la valeur de b et affichant sa valeur si elle est impaire (b non nul)")
while b != 0:
    b -= 1
    if b % 2 != 0:
        print(f"b impair = {b}")

print(f"Valeur finale : b = {b}")

incrémentant la valeur de a tant qu’elle reste inférieure à celle de b
a = 0
a = 1
a = 2
a = 3
a = 4
a = 5
a = 6
a = 7
a = 8
a = 9
Valeur finale : a = 10, b = 10
décrémentant la valeur de b et affichant sa valeur si elle est impaire (b non nul)
b impair = 9
b impair = 7
b impair = 5
b impair = 3
b impair = 1
Valeur finale : b = 0

#Exercice 5

In [29]:
while True:
    n = int(input("Entrez un entier entre 1 et 10 : "))
    if n >= 1 and n <= 10:
        break
    else:
        print("Erreur : le nombre doit être entre 1 et 10.")
print(f"Vous avez saisi : {n}")

Entrez un entier entre 1 et 10 : 2
Vous avez saisi : 2

#Exercice 6

In [30]:
chaine = "MSDIA"
print(f"Caractères de '{chaine}' sont :")
for char in chaine:
    print(char)

# Affichez chaque élément d’une liste
liste = [10, "Python", True, "gg" , "SDIA"]
print(f"Éléments de la liste :")
for ele in liste:
    print(ele)

Caractères de 'MSDIA' sont :
M
S
D
I
A
Éléments de la liste :
10
Python
True
gg
SDIA

#Exercice 7

In [31]:
print("les entiers de 0 à 15 non compris, de trois en trois")
for i in range(0, 15, 3):
    print(i)

les entiers de 0 à 15 non compris, de trois en trois
0
3
6
9
12

#Exercice 8

In [32]:
for i in range(1, 11):
    if i == 5:
        print("i vaut 5 ")
        break
    print(i)

print("La boucle est terminée.")

1
2
3
4
i vaut 5
La boucle est terminée.

#Exercice 9

In [33]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

print("La boucle est terminée.")

1
2
3
4
6
7
8
9
10
La boucle est terminée.

#Exercice 10

In [34]:
for x in range(-3, 4):  # de -3 à 3 inclus
    try:
        result = math.sin(x) / x
    except ZeroDivisionError:
        print(f"Pour x = {x}, ZeroDivisionError.")
    print(f"x = {x}, sin(x)/x = {result:.4f}")

x = -3, sin(x)/x = 0.0470
x = -2, sin(x)/x = 0.4546
x = -1, sin(x)/x = 0.8415
Pour x = 0, ZeroDivisionError.
x = 0, sin(x)/x = 0.8415
x = 1, sin(x)/x = 0.8415
x = 2, sin(x)/x = 0.4546
x = 3, sin(x)/x = 0.0470

#Exercice 11

In [35]:
def table(base, debut, fin, inc):
    print(f"Table de {base} : de {debut} à {fin} (pas de {inc})")
    for i in range(debut, fin + 1, inc):
        print(f"{base} x {i} = {base * i}")

table(5, 1, 10, 1)
table(3, 2, 8, 2)

Table de 5 : de 1 à 10 (pas de 1)
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Table de 3 : de 2 à 8 (pas de 2)
3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24

#Exercice 12

In [36]:
def cube(x):
    return x ** 3

def volumeSphere(r):
    return (4 / 3) * math.pi * cube(r)
#test
rayon = float(input("Entrez le rayon de la sphere : "))
volume = volumeSphere(rayon)
print(f"Le volume de la sphere de rayon {rayon} est : {volume:.2f}")

Entrez le rayon de la sphere : 6
Le volume de la sphere de rayon 6.0 est : 904.78

#Exercice 13

In [37]:
def maFonction(x):
    return 2 * x**3 + x - 5

def tabuler(fonction, borneInf, borneSup, nbPas):
    if borneInf >= borneSup:
        print("Erreur : borneInf doit être inférieure à borneSup.")
        return

    x = borneInf
    print(f"Tabulation de la fonction entre {borneInf} et {borneSup} avec un pas de {nbPas}:")

    while x <= borneSup:
        print(f"Pour x={x:.2f},f(x)={fonction(x):.4f}")
        x += nbPas


tabuler(maFonction, -3, 2, 0.5)

Tabulation de la fonction entre -3 et 2 avec un pas de 0.5:
Pour x=-3.00,f(x)=-62.0000
Pour x=-2.50,f(x)=-38.7500
Pour x=-2.00,f(x)=-23.0000
Pour x=-1.50,f(x)=-13.2500
Pour x=-1.00,f(x)=-8.0000
Pour x=-0.50,f(x)=-5.7500
Pour x=0.00,f(x)=-5.0000
Pour x=0.50,f(x)=-4.2500
Pour x=1.00,f(x)=-2.0000
Pour x=1.50,f(x)=3.2500
Pour x=2.00,f(x)=13.0000

#Exercice 14

In [38]:
def volMasseEllipsoide(a=1, b=1, c=1, masseVol=1):
    volume = (4/3) * math.pi * a * b * c
    masse = masseVol * volume
    return (volume, masse)

#test
res1=volMasseEllipsoide() # valeurs par défaut
print(f"V={res1[0]:.2f}, M={res1[1]:.2f}")
res2=volMasseEllipsoide(2, 1, 1) # 3 paramètres
print(f"V={res2[0]:.2f}, M={res2[1]:.2f}")
res3=volMasseEllipsoide(2, 3, 4, 2.5) # 4 paramètres
print(f"V={res3[0]:.2f}, M={res3[1]:.2f}")

V=4.19, M=4.19
V=8.38, M=8.38
V=100.53, M=251.33

#Exercuice 15

In [39]:
def somme(*nombres):
    return sum(nombres)

# Test
print(f"Resultat: {somme()}")
print(f"Resultat: {somme(1, 2, 3)}")
print(f"Resultat: {somme(2.5, 3.5, 4.0)}")

Resultat: 0
Resultat: 6
Resultat: 10.0

#Exercice 16

In [40]:
def somme3(a, b, c):
    return a + b + c

t = (3, 5, 7)
resultat = somme3(*t)
print(f"Somme des éléments du tuple {t} = {resultat}")

Somme des éléments du tuple (3, 5, 7) = 15

#Exercice 17

In [41]:
def unDictionnaire(**donnees):
    print("Contenu du dictionnaire :")
    for cle, valeur in donnees.items():
        print(f"{cle} : {valeur}")


d = {"nom": "Soufiane", "age": 22, "ville": "Meknes"}
unDictionnaire(**d)

Contenu du dictionnaire :
nom : Soufiane
age : 22
ville : Meknes

#Exercice 18

In [42]:
def table_multiplication(mul, borneInf, borneSup):
    print(f"Table de multiplication de {mul} de {borneInf} à {borneSup}")
    for i in range(borneInf, borneSup + 1):
        print(f"{mul} x {i} = {mul * i}")


# Test
table_multiplication(5, 1, 10)

Table de multiplication de 5 de 1 à 10
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50